:root{

    --cor-primaria: #252525;
    --cor-secundaria: #EE964B;
    --cor-terciaria: #F3F0E3;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 30px;
    
 }
 
 .container .card{
     position: relative;
     width: 250px;
     height: 300px;
     margin: 30px;
     box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
     border-radius: 15px;
     background: rgba(255, 255, 255, 0.1);
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     border-top: 2px solid rgba(255, 255, 255, 0.5);
     border-left: 2px solid rgba(255, 255, 255, 0.5);
     border-bottom: 2px solid rgba(255, 255, 255, 0.5);
     border-right: 2px solid rgba(255, 255, 255, 0.5);
 }
 
 .container .card .content{
 margin: 70px 10px 10px 10px;
 padding: 10px;
 text-align: center;
 justify-content: center;
 
 }

 .container .card .content .ri-trophy-fill{
    display: flex;
    position: absolute;
    top: 20px;
    right: 38%;
    font-size: 2.7em;
    box-shadow: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    color: var(--cor-terciaria);
    opacity: 0.5;
    }
 
 .container .card .content h3{
 font-size: 1.8em;
 color: var(--cor-terciaria);
 z-index: 1;
 }
 
 .container .card .content p{
     font-size: 1em;
     color: var(--cor-terciaria);
     font-weight: 300;
 }

 .container .card .content i{
    display: inline-flex;
    font-size: 28px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 3px;
    margin-bottom: 0px;
    color: var(--cor-terciaria);
 }

 .container .card .content a{
 position: relative;
 display: inline-block;
 padding: 8px 20px;
 margin-top: 15px;
 background: var(--cor-terciaria);
 color: #000;
 text-decoration: none;
 border-radius: 20px;
 box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
 }