:root {
    --cor-primaria: #252525;
    --cor-secundaria: #EE964B;
    --cor-terciaria: #F3F0E3;
}

body {
    background-color: var(--cor-primaria);
    margin: 0;
    padding: 50px;
    overflow-y: hidden;
}

.tela-login {
    margin: 100px auto;
    width: 350px;
    background-color: var(--cor-secundaria);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px var(--cor-secundaria);
}

h1 {
    color: var(--cor-primaria);
    text-align: center;
}

.linha-divisoria {
    border: none;
    border-top: 1px solid var(--cor-terciaria);
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}


.texto-user {
    margin-top: 8px;
    margin-bottom: -8px;
    text-align: left;
    color: var(--cor-terciaria);
    font-family: sans-serif;
}

.user {
    padding: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--cor-terciaria);
    border-radius: 4px;
    background-color: var(--cor-terciaria);
}

.texto-senha {
    margin-bottom: -8px;
    text-align: left;
    color: var(--cor-terciaria);
    font-family: sans-serif;
}

.senha {
    padding: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--cor-terciaria);
    border-radius: 4px;
    background-color: var(--cor-terciaria)
}

.esqueceu-senha {
    color: var(--cor-terciaria);
    font-size: 80%;
    margin-top: -16px;
    text-align: right;
    text-decoration: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.lembrar {
    margin-right: 4px;
}

.texto-lembrar {
    color: var(--cor-terciaria);
    margin: 0;
    font-size: 80%;
}

.cadastro {
    color: var(--cor-primaria);
    font-size: 80%;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
}

.entrar {
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    background-color: var(--cor-primaria);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.entrar:hover {
    cursor: pointer;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}